/* Styling */

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
    background: rgba(163, 37, 255, 0.75);
}

h2 {
  color: #a10022;
  font-size: 6em;
  font-family: 'Shadows Into Light', cursive;
  text-transform: uppercase;
  text-align: center;
}