/* Styling */


@import url('https://fonts.googleapis.com/css?family=Baloo');


body {
    background: #afebad;
}

h2 {
  color: #a10022;
  font-size: 6em;
  font-family: 'Baloo', cursive;
  text-transform: uppercase;
  text-align: center;
}